/*  your css code here. If applicable */

.container {
	background-color: #f5f5f5;
	padding: 40px;
}

.testimonial {
	border: 1px solid lightgray;
	background-color: white;
	padding: 16px;
}

.author {
	text-align: right;
	font-style: italic;
}